[tool.poetry]
name = "faucetconfrpc"
version = "0.55.64"
description = "utility to manage FAUCET config files via RPC"
authors = ["Charlie Lewis <clewis@iqt.org>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
c65faucet = "1.0.64"
grpcio = "1.59.0"
grpcio-tools = "1.59.0"
protobuf = "4.24.4"
prometheus_client = "0.17.1"
pybind11 = "2.11.1"
os-ken = "<=2.7.0"
# dnspython 2.3.0 is not compatible with eventlet
# https://github.com/eventlet/eventlet/issues/781
dnspython = "<2.4.3"
pyopenssl = ">22.1.0"
cryptography = "<41.0.6"

[tool.poetry.dev-dependencies]
attrs = "23.1.0"
pylint = "3.0.2"
pytype = "2023.10.24"
pytest = "7.4.3"

[tool.poetry.scripts]
faucetconfrpc_server = "faucetconfrpc.faucetconfrpc_server:serve"
faucetconfrpc_client = "faucetconfrpc.faucetconfrpc_client:main"

[tool.poetry.urls]
homepage = "https://github.com/IQTLabs/faucetconfrpc"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
