[tool.poetry]
name = "faucetconfrpc"
version = "0.55.67"
description = "utility to manage FAUCET config files via RPC"
authors = ["Charlie Lewis <clewis@iqt.org>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
c65faucet = "1.0.67"
grpcio = "1.60.0"
grpcio-tools = "1.60.0"
protobuf = "4.25.2"
prometheus_client = "0.19.0"
pybind11 = "2.11.1"
os-ken = "<=2.8.0"
# dnspython 2.3.0 is not compatible with eventlet
# https://github.com/eventlet/eventlet/issues/781
dnspython = "<2.4.3"
pyopenssl = ">22.1.0"
cryptography = "<41.0.8"

[tool.poetry.dev-dependencies]
attrs = "23.2.0"
pylint = "3.0.3"
pytype = "2024.1.5"
pytest = "7.4.4"

[tool.poetry.scripts]
faucetconfrpc_server = "faucetconfrpc.faucetconfrpc_server:serve"
faucetconfrpc_client = "faucetconfrpc.faucetconfrpc_client:main"

[tool.poetry.urls]
homepage = "https://github.com/IQTLabs/faucetconfrpc"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
