name: release

on:
  push:
    branches: main
    tags: 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true
    - name: Build package
      id: build_and_publish_packages
      run: |
        sudo apt-get update && \
        sudo apt-get install -yq --no-install-recommends git python3 python3-dev && \
        poetry build && \
        poetry publish -u ${{ secrets.PYPI_USERNAME }} -p ${{ secrets.PYPI_TOKEN }}
      if: github.repository == 'iqtlabs/faucetconfrpc' && github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
