name: test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: shell_test
      run: |
        wget "https://github.com/koalaman/shellcheck/releases/download/stable/shellcheck-stable.linux.x86_64.tar.xz" && \
        tar --xz -xvf "shellcheck-stable.linux.x86_64.tar.xz" && \
        shellcheck() { "shellcheck-stable/shellcheck" "$@"; } && \
        shellcheck --version && \
        /bin/bash --version && shellcheck -x -e SC2016 -e SC2119 -e SC2129 -e SC2001 -e SC2038 -e SC2044 certstrap/gen_faucetconfrpc_keys.sh
    - name: tests
      env:
        PYTHONPATH: "."
        GO111MODULE: "on"
      run: |
        go get github.com/square/certstrap && \
        PATH=~/go/bin:$PATH certstrap -v && \
        sudo pip3 install setuptools && \
        sudo pip3 install -r test-requirements.txt && \
        sudo pip3 install grpcio-tools protobuf && \
        sudo apt-get update && \
        sudo apt install -y libpython3-dev protobuf-compiler && \
        ./codecheck.sh && \
        PATH=~/go/bin:$PATH pytest ./test_faucetconfrpc.py && \
        docker build -f Dockerfile.server . && \
        go get github.com/golang/protobuf/protoc-gen-go && \
        cd faucetconfrpc && PATH=~/go/bin:$PATH ./generate_pb_grpc.sh
        # currently fails, no easy way to test locally
        #if [ "$(git diff)" != "" ] ; then echo protobufs out of date ; exit 1 ; fi
